asgiref==3.11.1
certifi==2026.2.25
charset-normalizer==3.4.7
cryptography==46.0.7

dj-database-url==3.1.0
Django==5.2.15
django-tinymce==5.0.0

gunicorn==25.1.0
whitenoise==6.8.0

httpx==0.28.1
idna==3.11
requests==2.33.1
urllib3==2.6.3

lxml==6.0.4
packaging==26.0
six==1.17.0
sqlparse==0.5.5
typing-extensions==4.15.0
tzdata==2025.3
tzlocal==5.3.1
webencodings==0.5.1

PyYAML==6.0.3
python-decouple==3.8

psycopg2-binary==2.9.12
redis==7.1.0
PyJWT==2.12.1

reportlab==4.4.10
xhtml2pdf==0.2.17

razorpay==2.0.1

Pillow>=10.0.0
qrcode==8.2

cloudinary
django-cloudinary-storage

google-auth==2.49.2
google-api-core>=2.19.0,<3.0.0
google-cloud-core==2.4.1
google-cloud-firestore==2.18.0
google-cloud-storage==2.13.0
google-crc32c==1.8.0
google-resumable-media==2.8.2
googleapis-common-protos==1.74.0
proto-plus==1.27.2
grpcio==1.80.0
grpcio-status>=1.62.0,<2.0.0

google-generativeai==0.7.2

protobuf>=4.25.8,<6.0.0
django-allauth==65.4.1
mysqlclient